.header {
    background-image: url('/images/hero-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    width: 100vw;
    height: 100vh;
}

@media (max-width: 767.98px) {
  .header {
        background-size: cover;
        background-position: center;
  }
} 

header h1, header h2 {
  font-weight: 700;
}

article h3 {
  font-weight: 700;
}
